body{
  margin: 0;
  padding: 0;
  background-color: #D3EBCD;
}

.Top-Container{
  border: solid 1px #bad1b4;
  border-radius: 25px;
  margin: 20px auto 0;
  padding-top: 25px;
  background-color: white;
  box-shadow: 5px 5px 20px #879c81;
  width: 95%;
  height: 60px;
}

a{
  text-decoration: none;
  font-size: 28px;
  margin: auto 30px;
  padding-left: 20px;
  color: #626262;
}

#About-Container{
  border: solid 1px #bad1b4;
  border-radius: 25px;
  margin: 80px auto 0;
  background-color: white;
  box-shadow: 5px 5px 20px #879c81;
  width: 95%;
  height: 30vh;
}

.About-Image{
  float: left;
  border-radius: 50%;
  width: 150px;
  margin: 20px 0 30px 20px;
}

.Name{
  font-size: 50px;
  text-align: right;
  color: black;
  margin-right: 20px;
  margin: 80px 20px -20px 0;
  font-weight: normal;
}

.About-p{
  clear: left;
  color: black;
  font-weight: normal;
  font-size: 45px;
  text-align: right;
  margin-right: 20px;
  font-family:  sans-serif;
}

#Cooming-Soon{
  border: solid 1px #bad1b4;
  border-radius: 25px;
  margin: 80px auto 0;
  background-color: white;
  box-shadow: 5px 5px 20px #879c81;
  width: 95%;
  height: 35vh;
}

.Book-shop-Logo{
  width: 350px;
  position: relative;
  margin-left: 600px;
  margin-bottom: -40px;
}

.About-Book-shop{
  color: black;
  font-weight: normal;
  font-size: 45px;
  text-align: right;
  margin-right: 20px;
  font-family:  sans-serif;
}

#Qotabi{
  border: solid 1px #bad1b4;
  border-radius: 25px;
  margin: 80px auto 0;
  background-color: white;
  box-shadow: 5px 5px 20px #879c81;
  width: 95%;
  height: 45vh;
}

.Qotabi-Logo{
  width: 200px;
  position: relative;
  margin-left: 10px;
  margin-bottom: -40px;
}

.Qotabi-Name{
  font-size: 50px;
  text-align: right;
  color: black;
  margin-right: 20px;
  margin: -70px 20px -20px 0;
  font-weight: normal;
}

.Qotabi-Name-Text{
  font-size: 50px;
  text-align: right;
  color: black;
  margin-right: 20px;
  margin: 0px 20px -70px 0;
  font-weight: normal;
}

.About-Qotabi{
  color: black;
  font-weight: normal;
  font-size: 45px;
  text-align: right;
  margin-right: 20px;
  font-family:  sans-serif;
}

#Contact-Me{
  text-align: center;
  border: solid 1px #bad1b4;
  border-radius: 25px;
  margin: 80px auto;
  background-color: white;
  box-shadow: 5px 5px 20px #879c81;
  width: 95%;
  height: 20vh;
}

.Contact-Me-Text{
  color: black;
  font-weight: normal;
  font-size: 45px;
  text-align: center;
  margin-right: 20px;
  font-family:  sans-serif;
}

img{
  width: 80px;
  margin: 30px auto;
}
