body{
  background-color: #D3EBCD;
}

h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

span{
  font-weight: bold;
}


.social{
  width: 80px;
  margin: 30px 80px;
}



#title{
  background-color: #2C394B;
}

#Amed{
  font-size: 2rem;
}


#About-Me{
border-bottom: solid 8px #2C394B;
border-radius: 20px;
}

#About-Me:hover{
border-bottom: solid 8px #2C394B;
border-radius: 20px;
background: white;
transition: 3s;
}


.container-fluid{
  padding: 3% 8%;
  font-size: 20px;
}

.About-Image{
  margin-left: 80px;
  width: 250px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}



#Pertokxana-gishtiya-kurdi{
  border-bottom: solid 8px #2C394B;
  border-radius: 20px;
}

#Pertokxana-gishtiya-kurdi:hover{
  border-bottom: solid 8px #2C394B;
  border-radius: 20px;
  background: white;
  transition: 3s;
}
.Book-shop-Logo{
  margin-top: 60px;
  width: 450px;
}


#Qotabi{
  border-bottom: solid 8px #2C394B;
  border-radius: 20px;
}

#Qotabi:hover{
  border-bottom: solid 8px #2C394B;
  border-radius: 20px;
  background: white;
  transition: 3s;
}

.Qotabi-Logo{
  width: 200px;
}

.Qotabi-Link{
  width: 180px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 28px;
  color: #626262;
}

.Qotabi-Link:hover{
  text-decoration: none;
  font-size: 28px;
  color: black;
}



#Contact-Me{
  margin-bottom: 20px;
}

#Contact-Me:hover{
  background:white;
  transition: 3s;
}
